sid: BK - SID globally unique

````
If SIDs are supposed to be globally unique identifiers, the reference in
the YANG module to "namespace" identifiers for individual allocations is
puzzling to me.  The presence of a namespace would typically allow for
identifier reuse across namespaces (e.g., using the same SID integer value
for an identity and a data node within the same module).  I see how the
current list structure makes it easy to have a single flat list of all
identifier/sid mappings, but if the SIDs truly are globally unique, then
the "namespace" should not be a list key, and might be less confusingly
described as just indicating the type for which the SID is used.  (It
would also be possible to have separate lists for module SIDs, identity
SIDs, etc., but it's not clear that doing so is actually the right
approach.)
````

The "namespace" is required to make pair "namespace" + "identifier" the unique.
This way a module "ABD" can be confused with an identity "ABC".

See in "ietf-sid-file@2020-02-05.yang"

         list item {
           key "namespace identifier";
           unique "sid";


answered in email already. No change to document.


We say:

```
We apologize that we are as confused about namespaces as Section 6.2.1 of RFC 7950 is…
SIDs are needed for some of the names in these (Section 6.2.1)-namespaces, and it is useful to identify which namespace is meant in the SID file.  We can leave out some namespaces such as the ones for grouping names, as these are not directly encoded.
Since the same name can be used in multiple namespaces, we need multiple entries in the list “item” for the same “identifier”, and so we need to include the namespace in the key (which also gives us a check that an identifier is not assigned a SID twice in the same namespace).  The (local) uniqueness of the SID is separately checked by the “unique “sid”” statement.
```


We apologize that we are as confused about namespaces as Section 6.2.1 of RFC 7950 is…
SIDs are needed for some of the names in these (Section 6.2.1)-namespaces, and it is useful to identify which namespace is meant in the SID file.  We can leave out some namespaces such as the ones for grouping names, as these are not directly encoded.
Since the same name can be used in multiple namespaces, we need multiple entries in the list “item” for the same “identifier”, and so we need to include the namespace in the key (which also gives us a check that an identifier is not assigned a SID twice in the same namespace).  The (local) uniqueness of the SID is separately checked by the “unique “sid”” statement.