yang-cbor MK editorial comments

Section 2 imports the term "schema tree" which is not used in this document.

In Section 9.1, "Required Parameters" should be "N/A", not "none".  See RFC 6838 Section 5.6.

The layout of the table in Section 9.3 is a little confusing.  For instance, the first two rows are collectively describing a single entry, I think, but that's not obvious given there are horizontal lines between them.
